@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Ovo&display=swap");

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6f6f6;
  width: 100%;
}

a {
  text-decoration: none !important;
  font-family: "DM Sans", sans-serif;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header ul li {
  margin: 20px;
  margin-right: 10px;
  margin-top: 30px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-decoration-style: none;
  color: #000000;
}

#logo {
  width: 350px;
  height: 80px;
}

body {
  background-color: floralwhite;
}

main {
  background-color: #fff;
}

h1 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-family: "Ovo", serif;
}

#titulo {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 35px;
  color: #3b5022;
}

p {
  font-size: 18px;
  font-style: normal;
  line-height: 1.5em;
  font-family: "DM Sans", sans-serif;
  text-align: justify;
}

#cafeavellanas {
  height: 400px;
  width: 350px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#cafedecaf {
  height: 400px;
  width: 350px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#cafecoldbrew {
  height: 400px;
  width: 350px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.cafeenbolsa {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 10px 0; 
  background-color: #f0efe8d5;
}

.cafebolsa {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    color: #7c5945;
    font-size: x-large;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-family: "Ovo", serif;
}
  
h3 {
    margin-top: 18px !important;
    margin-bottom: 10px !important;
    color: #697e51 !important;
    font-style: italic;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-family: "Ovo", serif;
}
  
h4 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #797876d5 !important;
    font-size: 17px !important;
}

.opiniones p {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    font-size: 14px;
}
  
  .opiniones p svg {
    color: #3b5022;
}
  
footer {
  background-color: #283618;
}

#textofooter {
  color: floralwhite;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-family: "Ovo", serif;
  text-align: center;
}
